<form class="" action="/check" method="post">
  <h2>Check for a number</h2>
  <br><br>
  <div class="input">
    <div>
      <input id="number" type="text" name="isbn" pattern="[-0-9Xx\s]{10,26}"
      placeholder="123 or 1-2-3 or 1 2 3" required>
    </div>
    <div>
      <input type="image" src="pics/arrow.png" value="Submit">
    </div>
  </div>
</form>
<br>
<form action="/file" method="post">
  <h2>Use a CSV file</h2>
  <br><br>
  <div class="input">
    <div>
      <input type="file" name="isbn"  id="file" accept=".csv" required>
    </div>
    <div>
      <input type="image" src="pics/arrow.png" value="Submit">
    </div>
  </div>
</form>

<br>

<% if number.class == String && number.verify_number%>
  <h2><%= number%> is a correct ISBN</h2>
<% elsif number.class == String && number.verify_number == false%>
  <h2><%= number%> is not a correct isbn</h2>
<% end%>

<% if file == "Please use CSV"%>
  <%= file%>
<% elsif file != nil%>
  <% file.split(",").each_slice(2).each do |items|%>
    <li><%= items[0]%>, <%= items[1]%></li>
  <% end%>
<% end%>
